<div class="container-fluid row align-items-start">
  <h2>Users</h2>
  <p>
    Users are the users in the current realm.
    <a
      href="https://www.keycloak.org/docs/latest/server_admin/index.html#assembly-managing-users_server_administration_guide"
      target="_blank"
      rel="noreferrer noopener"
      class="px-2">
      Learn more
      <svg
        fill="currentColor"
        height="1em"
        width="1em"
        viewBox="0 0 512 512"
        aria-hidden="true"
        role="img"
        style="vertical-align: -0.125em">
        <path
          d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path>
      </svg>
    </a>
  </p>
  <div class="row">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-home-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-home"
          type="button"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true">
          Users list
        </button>
      </div>
    </nav>
    <div class="col-md-6 col-xl-5 col-sm-12 col-lg-4 mb-2 mt-4">
      <div class="input-group">
        <span class="input-group-text">
          <i class="fas fa-search"></i>
        </span>
        <input type="text" class="form-control" placeholder="Search user" />
        <span class="input-group-text">
          <i class="fa-solid fa-arrow-right"></i>
        </span>
        <button
          class="btn btn-primary ms-2 rounded-0"
          type="button"
          (click)="goToCreateNewUser()">
          Add user
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="table-light">
              <th class="col-0">#</th>
              <th class="col-2">Username</th>
              <th class="col-3">Email</th>
              <th class="col-3">Last Name</th>
              <th class="col-3">First Name</th>
              <th class="col-2"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              [ngClass]="{ 'table-light': odd, 'even-row': even }"
              *ngFor="
                let user of users | async;
                let odd = odd;
                let even = even;
                trackBy: trackByFn;
                let i = index
              ">
              <td>
                {{ i + 1 }}
              </td>
              <td>
                <a [routerLink]="['/user/edit-user/', user.id]">
                  {{ user.username }}
                </a>
              </td>
              <td>{{ user.email || '-' }}</td>
              <td>{{ user.lastName || '-' }}</td>
              <td>{{ user.firstName || '-' }}</td>
              <td class="text-center">
                <button class="btn btn-link" (click)="editUser(user.id)">
                  <i class="fas fa-edit"></i>
                </button>

                <button
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                  class="btn btn-link text-danger"
                  (click)="onOpenDeleteConfirmationModal(user.id)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" id="deleteModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete user</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body mt-2 mb-2">
        <div>
          Are you sure you want to delete user:
          <span class="fw-bold">{{ user ? user.username : '' }}</span>
          ?
        </div>
      </div>
      <div class="modal-footer">
        <button
          #closeModal
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          (click)="onDeleteUser(user.id)"
          class="btn btn-danger">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
